.cell {
    width: 50px;
    height: 50px;
    outline: 1px solid black;
    background: bisque;
    user-select: none;
    overflow: hidden;
}

.cell__marked {
    width: 100%;
    height: 100%;
    font-size: 30px;
    text-align: center;
}
